name: Android CI
on:
  pull_request:
    branches: [main]
permissions:
  checks: write
  pull-requests: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: SetUp JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle
      - uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false
